* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --tt-primary-color: #323238;
  --bg-card-focus-color: #02799d;
  --bg-card-primary-color: #e1e1e6;
  --bg-color: hsla(240, 9%, 89%, 0.7);
  --tt-fill-color: #323238;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

.mode {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
}

.switch {
  cursor: pointer;
  border: none;
  background: transparent;
}

.hide {
  display: none;
  border: none;
}

.dark {
  --tt-primary-color: #ffffff;
  --bg-card-focus-color: #0a3442;
  --bg-card-primary-color: #29292e;
  --bg-color: #121214;
  --tt-fill-color: #ffffff;
}

.displayTimer {
  font-size: 12rem;
  color: var(--tt-primary-color);
  text-align: center;
  font-weight: 500;
}

.controls {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.controls button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.controls button:hover {
  transform: scale(1.1);
  transition: ease 500ms;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.sounds button {
  height: 17rem;
  width: 16.2rem;
  border-radius: 2.4rem;
  padding: 2.4rem;
  background-color: var(--bg-card-primary-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.sounds button:hover {
  transform: scale(1.1);
  transition: ease 500ms;
}

.sounds button svg {
  width: 5.6rem;
  height: 5.6rem;
}

.rain svg path,
.tree svg path,
.fireplace svg path,
.coffeeShop svg path,
.play svg path,
.stop svg path,
.addTime svg path,
.decreaseTime svg path,
#dark svg path {
  fill: var(--tt-fill-color);
}

.sounds button:focus {
  background-color: var(--bg-card-focus-color);
  transition: ease-in 0.3s;
}

.rain:focus path,
.tree:focus path,
.fireplace:focus path,
.coffeeShop:focus path {
  fill: white;
}

.volume[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: 9rem;
  height: 0.4rem;
  background-color: var(--tt-fill-color);
  outline: none;
  border-radius: 5px;
}

.volume[type="range"]::-webkit-slider-thumb {
  background: var(--tt-fill-color);

  -webkit-appearance: none;
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 9999px;
}

.sounds button:focus .volume[type="range"]::-webkit-slider-thumb,
.sounds button:focus .volume[type="range"] {
  background: white;
}
